<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<div class="main">
	<div class="left">
		<br>
		<div class="profile-img"><img src="/images/profile3.jpg"></div>

		<div class="box-1">
			<div class="heading">
				<p>CONTACTAME</p>
			</div>
			<p class="p1"><i class="material-icons icons1">call</i>+58 412-4416273</p>
			<p class="p1"><i class="material-icons icons1">email</i>Luisuni@gmail.com</p>
		
		</div>

		<div class="box-1">
			<div class="heading">
				<p>HABILIDADES</p>
			</div>

			<p class="p1">HTML
			<div class="skill-container">
				<div class="skill html"></div>
			</div>
			</p>

			<p class="p1">CSS
			<div class="skill-container">
				<div class="skill css"></div>
			</div>
			</p>

			<p class="p1">PHOSTOSHOP
			<div class="skill-container">
				<div class="skill js"></div>
			</div>
			</p>

			<p class="p1">MARKETING
			<div class="skill-container">
				<div class="skill jquery"></div>
			</div>
			</p>
		</div>
		<br>

		<div class="box-1">
			<div class="heading">
				<p>LENGUAJE</p>
			</div>

			<p class="p1">SEPAÑOL
			<div class="skill-container">
				<div class="skill web"></div>
			</div>
			</p>

			<p class="p1">INGLES
			<div class="skill-container">
				<div class="skill gra"></div>
			</div>
			</p>

			
		</div>
		<br>
		<div class="box-1">
			<div class="heading">
				<p>PASATIEMPOS</p>
			</div>

			<div class="h-div">
				<i class="material-icons icons2">camera_roll</i>
				<i class="material-icons icons2">music_note</i>
				<i class="material-icons icons2">motorcycle</i>
				<i class="material-icons icons2">border_color</i>
			</div>
			
		</div>

	</div>

	<div class="right">
		<div class="name-div">
			<h1>LUIS ARCIA</h1>
			<p>21 AÑOS DE EDAD</p>
		</div>

		<div class="box-2">
			<h2>SOBRE MI <i class="material-icons icons3" style="font-size: 28px!important; ">perm_identity</i></h2>
			<p class="p2">
				Soy una persona proactiva, comprometida y con habilidades para trabajar en equipo. Me considero una persona organizada y responsable, con capacidad para adaptarme a diferentes situaciones y aprender rápidamente. Poseo habilidades de comunicación efectiva y resolución de problemas, así como experiencia en el manejo de herramientas informáticas. Mi objetivo es seguir creciendo profesionalmente y contribuir al éxito de la empresa en la que me desempeñe.
			</p>
		</div>

		<div class="box-2">
			<h2>EDUCACIÓN <i class="material-icons icons3" >border_color</i></h2>
			
			</p>

			<p class="p3">2015-2019 <span>Dr. Jose Maria Vargas </span></p>
			<p class="p2">
				Secundaria 
			</p>

			<p class="p3">2021-Atualmente <span>UNERG</span></p>
			<p class="p2">
				Universidad Romulo Gallegos.
				Actualmente Estudiando cuarto semestre de Ing En Sistemas
			</p>
		</div>


		<div class="box-2">
			<h2>EXPERIENCIA LABORAL <i class="material-icons icons3" >folder</i></h2>
			<p class="p3">2020-2023 <span>Toromocho Grill</span></p>
			<p class="p2">
				Parrillero y Bartender  
			</p>

			<p class="p3">2023- <span>Emprendedor </span></p>
			<p class="p2">
				Vendedor de Gorras, Franelas, Shorts, Etc 
			</p>

			
		</div>

	</div>
</div>




</body>
</html>